<div class="container">
  <h3>Lựa chọn nhiều nhất các miền</h3>
  <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="pills-bac-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-bac"
        type="button"
        role="tab"
        aria-controls="pills-bac"
        aria-selected="true"
      >
        Miền Bắc
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-trung-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-trung"
        type="button"
        role="tab"
        aria-controls="pills-trung"
        aria-selected="false"
      >
        Miền Trung
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-nam-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-nam"
        type="button"
        role="tab"
        aria-controls="pills-nam"
        aria-selected="false"
      >
        Miền Nam
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-bac"
      role="tabpanel"
      aria-labelledby="pills-bac-tab"
      tabindex="0"
    >
      <div class="row m-auto">
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-danger m-2"
              >Top 1</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-warning m-2"
              >Top 2</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-success m-2"
              >Top 3</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-trung"
      role="tabpanel"
      aria-labelledby="pills-trung-tab"
      tabindex="0"
    >
      <div class="row m-auto">
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-danger m-2"
              >Top 1</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-warning m-2"
              >Top 2</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-success m-2"
              >Top 3</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-nam"
      role="tabpanel"
      aria-labelledby="pills-nam-tab"
      tabindex="0"
    >
      <div class="row m-auto">
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-danger m-2"
              >Top 1</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-warning m-2"
              >Top 2</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-auto w-100 mb-3">
            <span class="badge rounded-pill position-absolute bg-success m-2"
              >Top 3</span
            >
            <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cần Thơ</h5>
              <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
              <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
              <a href="#" class="btn btn-primary">Đi ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
