<nav
  class="navbar navbar-expand-lg bg-light position-fixed start-0 end-0 top-0 z-3"
>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"
      ><img src="assets/img/logo.png" alt="tourVN" height="50"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="position-relative" role="search">
        <input
          class="form-control rounded-5 ps-5"
          type="search"
          placeholder="Bạn muốn đi đâu..."
          aria-label="Search"
        />
        <i
          class="bi bi-search position-absolute fs-5 top-50 start-0 ms-3 translate-middle-y"
        ></i>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-6 fw-bold gap-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Trang chủ</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Du lịch
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/products']">Bắc</a>
            </li>
            <li><a class="dropdown-item" href="#">Trung</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" href="#">Nam</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blogs']">Tin tức</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']"
            ><i class="bi bi-cart-fill"> Giỏ hàng</i></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            data-bs-target="#login"
            data-bs-toggle="modal"
            ><i class="bi bi-person-circle"> Tài khoản</i></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
