<div class="container my-4">
  <h3 class="mb-3">Chuyến đi hot gần đây</h3>
  <!-- Slide ưu đãi -->
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="row">
        <div class="carousel-item active">
          <div class="col-md-3">
            <div class="card m-auto">
              <img
                src="assets/img/hoian.jpg"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card m-auto">
              <img
                src="assets/img/nuixanh.jpg"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card m-auto">
              <img
                src="assets/img/hoian.jpg"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card m-auto">
              <img
                src="assets/img/cantho.jpg"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card m-auto">
              <img
                src="assets/img/hoian.jpg"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card m-auto">
              <img
                src="assets/img/nuixanh.jpg"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <a
    href="#"
    class="btn btn-outline-dark mt-3 position-relative translate-middle-x start-50"
    >Xem thêm</a
  >
</div>
