<div class="container my-4" appCarousel>
  <h3 class="mb-3">Chuyến đi hot gần đây</h3>
  <!-- Slide ưu đãi -->
  <div class="row">
    <div class="col-lg-5 col-xl-4 col-md-7">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card m-auto">
              <img
                src="{{ data[0].image[0] }}"
                class="card-img-top w-100"
                height="300px"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ data[0].name }}</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">
                  {{ data[0].price }}đ
                </h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" *ngFor="let item of dataS">
            <div class="card m-auto">
              <img
                src="{{ item.image[0] }}"
                class="card-img-top w-100"
                alt="..."
                height="300px"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">
                  {{ item.price }}đ
                </h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div
      class="col-lg-7 col-xl-8 col-md-5 border bg-dark rounded-2 position-relative m-0 p-0"
      style="
        background: url('assets/img/anhdep.webp');
        background-size: cover;
        background-position: top;
      "
    >
      <div class="w-100 h-100 rounded-2 bg-black opacity-25"></div>
    </div>
  </div>
  <a
    [routerLink]="['/travels']"
    class="btn btn-outline-dark mt-3 position-relative translate-middle-x start-50"
    >Xem thêm</a
  >
</div>
