<div class="container-fluid mt-5 p-0" id="form-contact" style="height: 500px">
  <div class="bg-dark bg-opacity-50 w-100 h-100">
    <div class="row row w-75 h-100 m-auto">
      <div class="col-sm-4 col-lg-6">
        <div
          class="position-relative top-50 translate-middle-y w-100 align-middle"
        >
          <strong
            class="text-light fs-2 m-auto text-uppercase"
            style="text-shadow: 0 0 5px black"
            >Nhập thông tin vào đây nếu bạn cần chúng tôi tư vấn</strong
          >
        </div>
      </div>
      <div class="col-sm-8 col-lg-6">
        <div
          class="card w-100 shadow position-relative top-50 translate-middle-y p-4"
        >
          <div class="card-body">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Họ và tên</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="tel"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Số điện thoại </label>
            </div>

            <button class="btn btn-danger btn-lg float-end px-5 shadow">
              Gửi
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
