<div id="blog" class="container">
  <div class="row p-5 m-auto">
    <div class="col-md-4 mb-4">
      <a class="py-4" href="#">
        <div class="card w-100 text-center text-dark" style="height: 430px">
          <img
            src="https://res.klook.com/image/upload/v1640179720/veeon5jzqyjccj5m3lkg.webp"
            class="card-img-top w-75"
            alt="..."
          />
          <div class="card-body py-5">
            <h5 class="card-title text-dark">Xem Blog của tourVN</h5>
            <p class="card-text text-dark" style="font-size: 12px">
              tourVN gợi ý cho bạn các xu hướng du lịch, lịch trình chi tiết và
              mẹo thú vị
            </p>
            <a href="#" class="btn btn-outline-dark">Xem ngay</a>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a class="py-4" href="#">
        <div class="card w-100 text-center text-dark" style="height: 430px">
          <img
            src="https://res.klook.com/image/upload/v1640179766/arto4pac628jzdsuu3df.webp"
            class="card-img-top w-75"
            alt="..."
          />
          <div class="card-body py-5">
            <h5 class="card-title text-dark">Tiết kiệm hơn với Credit</h5>
            <p class="card-text text-dark" style="font-size: 12px">
              Tìm hiểu cách đặt hoạt động với giá siêu tiết kiệm bằng cách để
              lại đánh giá
            </p>
            <a href="#" class="btn btn-outline-dark">Xem ngay</a>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a class="py-4" href="#">
        <div class="card w-100 text-center text-dark" style="height: 430px">
          <img
            src="https://res.klook.com/image/upload/v1640179875/ggxmmubhiq9nxkbobcro.webp"
            class="card-img-top w-75"
            alt="..."
          />
          <div class="card-body py-5">
            <h5 class="card-title text-dark">Nhận ưu đãi khi mời bạn bè</h5>
            <p class="card-text text-dark" style="font-size: 12px">
              Sau khi bạn của bạn đăng ký và hoàn thành đơn hàng đầu tiên, bạn
              sẽ nhận ₫100,000 điểm thưởng
            </p>
            <a href="#" class="btn btn-outline-dark">Xem ngay</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
