<header class="container-fluid p-0">
  <div class="h-100 bg-dark bg-opacity-50 position-relative w-100">
    <div class="position-absolute translate-middle-y top-50" style="left: 5%">
      <h1 class="text-light font-monospace fw-bold">VIỆT NAM TRỌN NIỀM VUI</h1>
      <h5 class="text-light font-monospace mt-3">
        Khám phá niềm vui của bạn mọi lúc, mọi nơi - từ chuyến du lịch ngẫu hứng
        tới những cuộc phiêu lưu khắp Việt Nam...
      </h5>
      <div class="search-header input-group mb-3 w-75 mt-5">
        <span class="bi bi-search input-group-text"></span>
        <input
          type="text"
          class="form-control"
          placeholder="Bạn muốn đi đâu"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button class="btn btn-dark" type="button" id="button-addon2">
          Tìm kiếm...
        </button>
      </div>
    </div>
  </div>
</header>
