<header
  class="container-fluid p-0"
  style="
    background: url('{{ data[0].image }}');
    background-size: cover;
    background-position: center;
  "
>
  <div class="h-100 bg-dark bg-opacity-50 position-relative w-100">
    <div class="text-center position-relative top-50 translate-middle-y">
      <p class="text-secondary">----{{ data[0].release }}----</p>
      <h1 class="text-light font-monospace text-wrap w-75 m-auto fw-bold">
        {{ data[0].title }}
      </h1>
    </div>
  </div>
</header>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="" *ngFor="let item of data[0].content">
          <div class="" [innerHTML]="item"></div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Bài viết khác</h3>
        <div class="card mb-3 item-blog">
          <div class="row g-0 h-100">
            <div class="col-md-4 h-100">
              <img
                src="./img/nuixanh.jpg"
                height="100%"
                width="100%"
                class="rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Đi núi nàoooo</h5>
                <p class="card-text">Chúng ta đi núi thoai</p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 item-blog">
          <div class="row g-0 h-100">
            <div class="col-md-4 h-100">
              <img
                src="./img/nuixanh.jpg"
                height="100%"
                width="100%"
                class="rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Đi núi nàoooo</h5>
                <p class="card-text">Chúng ta đi núi thoai</p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 item-blog">
          <div class="row g-0 h-100">
            <div class="col-md-4 h-100">
              <img
                src="./img/nuixanh.jpg"
                height="100%"
                width="100%"
                class="rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Đi núi nàoooo</h5>
                <p class="card-text">Chúng ta đi núi thoai</p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
