<div class="main" style="margin-top: 100px">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="my-4" *ngIf="getRegion == null">Tất cả Tour du lịch</h2>
      <h2 class="my-4" *ngIf="getRegion == 'trung'">Tour Miền Trung</h2>
      <h2 class="my-4" *ngIf="getRegion == 'nam'">Tour Miền Nam</h2>
      <h2 class="my-4" *ngIf="getRegion == 'bac'">Tour Miền Bắc</h2>
      <select
        class="rounded p-1"
        [(ngModel)]="sortSelected"
        (change)="onSort()"
      >
        <option value="no">Sắp xếp:</option>
        <option value="AZ">Tên A-Z</option>
        <option value="ZA">Tên Z-A</option>
        <option value="increase">Giá tăng dần</option>
        <option value="decrease">Giá giảm dần</option>
      </select>
    </div>
    <div class="row gap-sm-0 gap-2">
      <article class="">
        <div class="row">
          <div
            class="col-lg-4 col-md-6 m-auto mb-2"
            *ngFor="let pro of travelData"
          >
            <div class="card m-auto w-100">
              <a [routerLink]="['/travel', pro.id]">
                <img
                  src="{{ pro.image[0] }}"
                  class="card-img-top"
                  height="300px"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title text-nowrap overflow-hidden">
                    {{ pro.name }}
                  </h5>
                  <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                  <h4 class="card-title text-danger fw-bolder">
                    {{ formatNumber.moneyFormat(pro.price) }}đ
                  </h4>
                  <a href="#" class="btn btn-primary">Đi ngay</a>
                </div></a
              >
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </div>
  </div>
</div>
