<div class="main" style="margin-top: 100px">
  <div class="container">
    <h1 class="my-4">Tất cả Tour du lịch</h1>
    <div class="row gap-sm-0 gap-2">
      <aside class="col-sm-4 col-lg-2">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Sắp xếp
              </button>
            </h5>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <h5>Vùng miền:</h5>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Bac"
                    id="Bac"
                  />
                  <label class="form-check-label" for="Bac"> Miền Bắc </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Trung"
                    id="Trung"
                  />
                  <label class="form-check-label" for="Trung">
                    Miền Trung
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Nam"
                    id="Nam"
                  />
                  <label class="form-check-label" for="Nam"> Miền Nam </label>
                </div>
                <br />
                <h5>Sắp xếp theo</h5>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="name-AtoZ"
                  />
                  <label class="form-check-label" for="name-AtoZ">
                    Tên A-Z
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="name-ZtoA"
                  />
                  <label class="form-check-label" for="name-ZtoA">
                    Tên Z-A
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="sort-price-decrease"
                  />
                  <label class="form-check-label" for="sort-price-decrease">
                    Giá tăng dần
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="sort-price-increase"
                  />
                  <label class="form-check-label" for="sort-price-increase">
                    Giá giảm dần
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <article class="col-sm-8 col-lg-10">
        <div class="row">
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6 m-auto mb-2">
            <div class="card m-auto w-100">
              <img src="assets/img/cantho.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cần Thơ</h5>
                <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                <h4 class="card-title text-danger fw-bolder">900.000đ</h4>
                <a href="#" class="btn btn-primary">Đi ngay</a>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>
