<div class="main" style="margin-top: 100px">
  <div class="container">
    <h1 class="my-4">
      Kết quả tìm kiếm cho: "{{ resultFor }}"
      <span class="fs-6 text-secondary" *ngIf="!count"
        >- Có {{ travelData.length }} giá trị tương thích</span
      >
    </h1>
    <div class="row gap-sm-0 gap-2">
      <article class="">
        <div class="row">
          <div
            class="col-lg-4 col-6 m-auto mb-3"
            *ngFor="let pro of travelData"
          >
            <div class="card m-auto w-100">
              <a [routerLink]="['/travel', pro.id]">
                <img
                  src="{{ pro.image[0] }}"
                  class="card-img-top"
                  height="300px"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title text-nowrap overflow-hidden">
                    {{ pro.name }}
                  </h5>
                  <p class="card-text">Chuyến du lịch 2 ngày 1 đêm</p>
                  <h4 class="card-title text-danger fw-bolder">
                    {{ pro.price }}đ
                  </h4>
                  <a href="#" class="btn btn-primary">Đi ngay</a>
                </div></a
              >
            </div>
          </div>
          <div class="text-center text-secondary my-5" *ngIf="count">
            Không có kết quả nào phù hợp
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
