<header
  class="container-fluid p-0"
  style="
    background: url('https://images2.thanhnien.vn/528068263637045248/2023/6/4/screenshot-2023-06-04-at-224756-16858937361421786911492.png');
    background-size: cover;
    background-position: center;
  "
>
  <div class="h-100 bg-dark bg-opacity-50 position-relative w-100">
    <div class="text-center position-relative top-50 translate-middle-y">
      <h1 class="text-light font-monospace fw-bold">
        Tất cả bài viết của tourVN
      </h1>
    </div>
  </div>
</header>
<div class="main">
  <div class="container">
    <h2>Blog mới nhất</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <a [routerLink]="['/blog/', dataTop[0].id]">
          <div class="card text-bg-dark">
            <img
              src="{{ dataTop[0].image }}"
              class="card-img opacity-50"
              alt="..."
            />
            <div class="card-img-overlay">
              <h5 class="card-title">{{ dataTop[0].title }}</h5>
              <p class="card-text">
                Bài viết của tourVN hợp tác cùng chat GPT ❤️👌
              </p>
              <p class="card-text">
                <small>Ngày ra mắt {{ dataTop[0].release }}</small>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-md-column">
          <div class="" *ngFor="let item of [dataTop[1], dataTop[2]]">
            <a class="" [routerLink]="['/blog', item.id]">
              <div class="card text-bg-dark overflow-hidden">
                <img
                  src="{{ item.image }}"
                  class="card-img opacity-50"
                  alt="..."
                />
                <div class="card-img-overlay">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">
                    Bài viết của tourVN hợp tác cùng chat GPT ❤️👌
                  </p>
                  <p class="card-text">
                    <small>Chỉnh sửa gần nhất 2 ngày trước</small>
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mt-5 mb-3">Bài viết khác</h2>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of data">
        <a [routerLink]="['/blog', item.id]">
          <div class="card mb-3">
            <img src="{{ item.image }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">
                Bài viết của tourVN hợp tác cùng chat GPT ❤️👌
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Ngày ra mắt {{ item.release }}</small
                >
              </p>
            </div>
          </div></a
        >
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
